
.product{
    
    display:inline-block;
    position: relative;
    width: 300px;
    height: 345px;
    background: white;
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
}
.product .imgbox{
    height: 100%
    box-sizing: border-box;
}
.product .imgbox img{
    display: block;
    width: 75%;
    margin: 10px auto 0;
}
.specifice {
    position: absolute;
    width: 100%;
    bottom: -285px;
    background: rgb(72, 61, 139, 0.75);
    padding: 5px;
    box-sizing: border-box;
    transition: 0.9s;
}
.product:hover .specifice{
    bottom: 0;
}
.specifice h2{
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
}

.specifice h2 span {
    font-size: 15px;
    color: #ccc;
    font-weight: normal;
}
.specifice .price{
    position: absolute;
    text-align: right;
    top: 5px;
    right: 25px;
    font-weight: bold;
    color: #ccc;
    font-size: 15px;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 15px;
    font-weight: normal;
    color: #ccc;
}
ul li:first-child{
    margin-left: 0;
}
ul.colors li{
    width: 15px;
    height: 15px;
}
.product a{
    display: block;
    padding: 5px;
    color: #fff;
    margin: 10px 0 0;
    background: #228B22;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: .02s;
    cursor: pointer;
}
.product a:hover{
    background: #008000;
}

.filters{
    float: left;
    display:inline-block;
    position: relative;
    width: 220px;

}

/* The sidebar menu */
.filters {
    float: left;
    display:inline-block;
    margin-top: 166px;
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: white;
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
