{% extends "wrapper.html" %}

{% block content %}
    {% load static %}
    <div>
      <br>
        {% for contributor in Contributor %}
        {% for products in Products %}
        {% if products.pk  == contributor.pk %}
          <h1 class="center_text">{{contributor.maker}} {{contributor.model}}<hr></h1>
          <div>
            <div class="slider">
              <div class="item">
                  <img src="{{contributor.img1}}" alt="Первый слайд">
                  <div class="slideText"></div>
              </div>
          
              <div class="item">
                  <img src="{{contributor.img2}}" alt="Второй слайд">
                  <div class="slideText"></div>
              </div>
          
              <div class="item">
                  <img src="{{contributor.img3}}" alt="Третий слайд">
                  <div class="slideText"></div>
              </div>
          
              <a class="prev" onclick="minusSlide()">&#10094;</a>
              <a class="next" onclick="plusSlide()">&#10095;</a>
          </div>
          <br>
          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
                  
          <div class="price_in">
          <div class="price_inf">
              <div class="div1">
<!--    <div><h1>Price from: {{ products.minimal }} Uah</h1></div>-->
    <div><h3 class="fa">Best market price: {{products.best_price}} UAH</h3></div>
    </div>
              <hr>
    <div class="div1">
            <a href="#"><button title="Додати в обрані" class="btn btn-success">
            <span class="fas fa-bookmark fa-2x"></span>
            </button></a>
            <a href="#"><button title="Додати в кошик" class="btn btn-success">
            <span class="fas fa-shopping-cart fa-2x"></span>
            </button></a>
            </div>
              <div class="deliver_inf">
                  <br>
              <p>Delivery of goods is carried out by "New Mail" within 1-2 days.<br>
                    With the amount of goods over 2000 UAH.
                  </p>
                  <hr>
              </div>
              <div class="warranty_inf">
            Warranty 12 months. Official warranty from the manufacturer. Exchange / return of goods within 14 days.
                  <hr>
              </div>
              </div>
              <div class="chart_inline"><canvas id="myChart" ></canvas></div>
          </div>
        </div>
          
          <div class="specifications">
              <button class="btn btn-success" value="Show Div" onclick="showDiv2();" >
            Price comparing
            </button>
              <button class="btn btn-success" value="Show Div" onclick="showDiv3()" >
            Characteristics
            </button>  
          </div>
          
          <div class="div2" id="div2" style="display:block; margin: 15px;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Seller:</th>
                  <th scope="col">Model:</th>
                  <th scope="col">Count of reviews:</th>
                    <th scope="col">Price:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="https://seeklogo.com/images/I/itbox-logo-F3D2D6730E-seeklogo.com.png" style="width: 120px;"></td>
                  <td>{{contributor.maker}} {{contributor.model}}</td>
                    <td>{{products.itbox_com_count}}</td>
                  <td><span id="itbox">{{products.price_itbox}}</span> грн <a href="{{ contributor.link_itbox }}"><button class="btn btn-success">Купити</button></a></td>
                </tr>
                <tr>
                  <td><img src="https://upload.wikimedia.org/wikipedia/commons/b/be/ROZETKA-Logo-L3-B-RGB.png" style="width: 200px;"></td>
                  <td>{{contributor.maker}} {{contributor.model}}</td>
                    <td>{{products.rozetka_com_count}}</td>
                  <td><span id="rozetka">{{products.price_rozetka}}</span> грн <a href="{{ contributor.link_rozetka }}"><button class="btn btn-success">Купити</button></a></td>
                </tr>
                <tr>
                  <td><img src="https://i.citrus.ua/pictures/all/svg/citrus_brand_new_logo.svg" style="width: 200px;"></td>
                  <td>{{contributor.maker}} {{contributor.model}}</td>
                    <td>{{products.citrus_com_count}}</td>
                  <td><span id="citrus">{{products.price_citrus}}</span> грн <a href="{{ contributor.link_citrus }}"><button class="btn btn-success">Купити</button></a></td>
                </tr>
                <tr>
                  <td><img src="https://becover.com.ua/upload/iblock/b3a/b3ab547b7eb5aa952e3841ff5547c7fe.jpg" style="width: 150px;"></td>
                  <td>{{contributor.maker}} {{contributor.model}}</td>
                    <td>{{products.allo_com_count}}</td>
                  <td><span id="allo">{{products.price_allo}}</span> грн <a href="{{ contributor.link_allo }}"><button class="btn btn-success">Купити</button></a></td>
                </tr>
                <tr>
                  <td><img src="https://stylus.ua/images/header_logo.png" style="width: 200px;"></td>
                  <td>{{contributor.maker}} {{contributor.model}}</td>
                    <td>{{products.stylus_com_count}}</td>
                  <td><span id="stylus">{{products.price_stylus}}</span> грн <a href="{{ contributor.link_stylus }}"><button class="btn btn-success">Купити</button></a></td>
                </tr>
              </tbody>
            </table>
              </div>
              <div id="div3" style="display:none;">
              <table class="table">
  <thead>
    <tr>
      <th scope="col">Model:</th>
      <th scope="col">{{products.category}}</th>
    </tr>
  </thead>
  {% if products.ram_type != "0"  %}
  <tbody>
    <tr>
      <td>Cpu</td>
      <td>{{products.cpu}} {{products.speed}}GHz</td>
    </tr>
    <tr>
      <td>Videocard</td>
      <td>{{products.videocard}}</td>
    </tr>
    <tr>
      <td>Ram type</td>
      <td>{{products.ram_type}}</td>
    </tr>
  <tr>
      <td>Ram </td>
      <td>{{products.ram}} GB</td>
    </tr>
  <tr>
      <td>Drive type</td>
      <td>{{products.hd_type}}</td>
    </tr>
  <tr>
      <td>Drive memory</td>
      <td>{{products.hd}} GB</td>
    </tr>
  </tbody>
</table>
  {% else %}
                    <tbody>
    <tr>
      <td>Cpu</td>
      <td>{{products.cpu}}</td>
    </tr>
    <tr>
      <td>Diagonal</td>
      <td>{{products.diagonal}} Inch</td>
    </tr>
    <tr>
      <td>Back cam</td>
      <td>{{products.back_cam}}</td>
    </tr>
  <tr>
      <td>Front cam </td>
      <td>{{products.front_cam}}</td>
    </tr>
      <td>Color</td>
      <td>{{products.color}}</td>
    </tr>
    <tr>
      <td>Os</td>
      <td>{{products.os}}</td>
    </tr>
  </tbody>
</table>
  {% endif %}
              </div>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}
