<style>
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');
</style>

.catalogue  body{
    background-image: url(Resource/background.png);
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    

}
.catalogue h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

.catalogue p{
    line-height: 28px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: silver;
}

a:hover, a:focus{
    color: white;
        text-decoration: none;
    outline: 0;
}

.catalogue hr{
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-bottom: 5px;
}

.margin-right-25{
    margin-right: 25px;
}

.silver{
    background: silver;
}

 /* збільшення панелі при наведенні */
/*
    .card-big:hover{ 
   -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    }
*/
    .card-big:hover .card-header{ 
       background: rgba(28,236,0,0.15);
    }
    .card-big:hover .card-body{ 
      background: #F5FFFA;
    }
.socbutton{
    color: #696969;
        background: #1F1F1F; /* Цвет фона */
    border: 1px solid #008000; /* Параметры рамки */
    width: 45px; /* Ширина кнопки */
    height: 45px; /* Высота */
    border-radius: 10px;
    }
.socbutton:hover{
    color: silver;
        background: green; /* Цвет фона */
    border: 1px solid #008000; /* Параметры рамки */
    width: 45px; /* Ширина кнопки */
    height: 45px; /* Высота */
    border-radius: 10px;
    }

body {
                display: flex;
                flex-direction: column;
            }
.content {
                flex-grow: 1;
            }
.footer{
        margin-top: 5%;
        text-align: right;
        background: #1F1F1F;
        color: silver;
    }
.catalogue{
    margin-left: 20%;
}
.filters{
    margin-left: 10px;
    position: absolute;
    width: 200px;
   
}

.filters-box{
 background: white;
box-shadow: 0 20px 40px rgba(0,0,0,.2);
        font-weight: 40px;
    font-size: 16px;
}

.main-img{
    width: 80%;
    height: 400px;
    align-self: center;
}
body{
    background-image: url(Resource/background.png);
          background-size: 125px;
    }





